html {
  height: 100%;
  background-color: #e3ffe3;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: #9cc399;
  height: 50px;
  padding: 5px 15px;
  box-shadow: 0 0 10px black;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
header img {
  width: 50px;
}
header h2 {
  font-size: 25px;
  margin: 0;
  text-transform: uppercase;
  color: #1f541a;
}

.container__width {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.primary-button,
.secondary-button {
  width: 150px;
  margin: auto;
  height: 35px;
  transition: .25s;
  font-size: 18px;
  font-family: lato;
  border-radius: 25px;
}
.primary-button {
  background-color: #9cc399;
  border: 1px solid #9cc399;
  color: #003a00;
}
.secondary-button {
  background-color: #c2af84;
  border: 1px solid #c2af84;
  color: #544d3e;
  width: 100%;
}
.secondary-active {
  background-color: transparent!important;
}

.monthly-total__container h1 {
  font-size: 30px;
  color: #373737;
  margin: 0;
  margin-bottom: 10px;
}
.monthly-total__container p {
  font-size: 25px;
  color: #2c7626;
  margin: 0;
}

.activity-list__container {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 25px;
}
.list-item__price {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.activity-list__container p {
  margin: 0;
}

/* Add Line Item Component */
#add-item__form {
  display: none;
}
.form-input__container,
.input-type__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.form-input__container label,
.form-input__container input {
  display: block;
  text-align: left;
}
.form-input__container input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  padding: 0;
}
.form-input__container label {
  color: grey;
  margin-bottom: 5px;
  font-size: 14px;
}