html {
  height: 100%;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #e4e4e4 !important;
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* HEADER STYLING */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #2e2b4a;
  padding: 18px 15px 15px;
  box-shadow: 0 0 10px black;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
header a {
  text-decoration: none;
}
header h2 {
  color: #e4e4e4;
  font-size: 22px;
  margin: 0;
  text-decoration: overline;
  text-decoration-thickness: 3px;
  text-transform: uppercase;
}
/* END HEADER STYLING */

/* SOME GLOBAL STYLES */
.container__width {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  text-align: center;
}
.buttons__align-right {
  display: flex;
  gap: 5px;
  float: right;
}
.primary-button,
.secondary-button,
.tertiary-button {
  width: 150px;
  margin: auto;
  height: 35px;
  transition: 0.25s;
  font-size: 18px;
  font-family: lato;
  border-radius: 25px;
}
.primary-button {
  background-color: #2e2b4a;
  border: 1px solid #2e2b4a;
  color: #e4e4e4;
}
.secondary-button {
  background-color: #2e2b4a;
  border: 1px solid #2e2b4a;
  color: #e4e4e4;
  width: 100%;
}
.tertiary-button {
  background-color: rgb(188, 188, 188);
  border: 1px solid rgb(188, 188, 188);
  color: #373737;
  width: 100px;
}
.form-label {
  margin-bottom: 0 !important;
}
/* END GLOBAL STYLES */

/* MOTNHLY TOTAL COMPONENT */
.monthly-total__container h1 {
  color: #2e2b4a;
  font-size: 25px;
  margin: 0 0 10px;
}
.monthly-total__container p {
  color: #65406e;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  line-height: 40px;
}
/* END MONTHLY TOTAL COMPONENT */

/* ACTIVITY LIST */
.activity-list__segment h3 {
  font-size: 18px;
  margin: 15px 0 5px;
  color: #65406e;
  border-bottom: 2px solid #65406e;
  width: fit-content;
}
.activity-list__section {
  position: relative;
  padding-top: 1px;
  top: 0;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 5;
  background-color: #e4e4e4;
  text-align: left;
}
.activity-list__container {
  padding: 5px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 25px;
}
.activity-list__segment {
  margin: 20px 0;
}
.activity-list__segment a {
  color: #65406e;
}
.activity-list__section h2 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #2e2b4a;
  border-bottom: 1px solid #2e2b4a;
}
.list-item__price {
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.list-item__price img {
  height: 20px;
  margin: auto;
}
.activity-list__container p {
  margin: 0;
}
/* END ACTIVITY LIST */

/* ADD ITEM COMPONENT */
#add-item__form {
  position: relative;
  z-index: 1;
  visibility: hidden;
}
.add-item__container {
  padding-bottom: 0;
}
#add-item__modal-title {
  color: #1f541a;
  margin: 0;
}
.form-input__container,
.input-type__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.form-input__container label,
.form-input__container input {
  display: block;
  text-align: left;
}
.form-input__container input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  padding: 0;
}
.form-input__container label {
  color: grey;
  margin-bottom: 5px;
  font-size: 14px;
}
/* END ADD ITEM COMPONENT */